[submodule "Time-table-project-with-HTML"]
	path = Time-table-project-with-HTML
	url = https://github.com/Rahamat-prog/Time-table-project-with-HTML.git
[submodule "Feedback-Form-project-with-HTML"]
	path = Feedback-Form-project-with-HTML
	url = https://github.com/Rahamat-prog/Feedback-Form-project-with-HTML.git
[submodule "Grid-layout-project-with-HTML-and-CSS"]
	path = Grid-layout-project-with-HTML-and-CSS
	url = https://github.com/Rahamat-prog/Grid-layout-project-with-HTML-and-CSS.git
